* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sanchez", serif;
  font-size: 12px;
  background: #040e27;
  color: #fff;
  margin: 0 20px;
}
.container {
  max-width: 768px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 20px;
  line-height: 1.7em;
}
.loader {
  /* border: 2px solid red; */
  width: 200px;
  height: 20px;
  --webkit-mask: linear-gradient(90deg, #f3f3 70%, #f3f3f3 0) 0/20%;
  background: linear-gradient(#ff0000 0 0) 0/0% no-repeat #ddd;
  animation: l4 2s infinite steps(6);
}

@keyframes l4 {
  100% {
    background-size: 120%;
  }
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
